
.card-img-top {
    width: 250px;
    height: 250px;
    object-fit:contain;
    
}

.card {
    align-items:center;
}
.card-text{
    height: 50px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    scrollbar-width:none;
}

.offcanvas-body .card {
    max-width: 30em;
    flex-direction: row;
}
.offcanvas-body .card-img-top {
    height: auto;
    width: auto;
}

.offcanvas-body .card img {
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
   
}
.offcanvas-body .card .card-body {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 0;
    font-size: 13px;
}
.offcanvas-body .card .card-body h5{
    font-size: 15px;
}
.offcanvas-body .card .card-body .card-text{
    height: 80px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    scrollbar-width:none;
}


.text-section {
    max-width: 72%;
}
.cta-section {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
/* .cta-section .btn {
    padding:  0.3em 0.3em;
} */
